# Ignored
1cm_rescaled/bulat/artefacts
1cm_rescaled/bulat/conversion
1cm_rescaled/bulat/extfig/**

1cm_rescaled/elips/artefacts
1cm_rescaled/elips/conversion/**
1cm_rescaled/elips/extfig


# Kept
!1cm_rescaled/bulat/extfig/.gitkeep

!1cm_rescaled/elips/conversion/enlarged/convert_gm
!1cm_rescaled/elips/conversion/enlarged/convert_im
